beautifulsoup4
chromadb
faiss-cpu
google-generativeai
huggingface-hub
langchain
langchain-anthropic
langchain-chroma
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-huggingface
langchain-openai
langchain-text-splitters
numpy
openai
pandas
pydantic
pypdf
python-dotenv
rich
scikit-learn
sentence-transformers
streamlit
termcolor
tiktoken
youtube-transcript-api
